* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose1: hsl(20, 50%, 98%);
  --rose2: hsl(13, 31%, 94%);
  --rose3: hsl(14, 25%, 72%);
  --rose4: hsl(7, 20%, 60%);
  --rose5: hsl(12, 20%, 44%);
  --rose6: hsl(14, 65%, 9%);
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  height: 100%;
  background-color: var(--rose2);
}
.container {
  overflow: hidden;
  padding: 50px;
  margin: auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "desserts desserts cart";
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rose6);
    opacity: 0.6;
    display: none;
  }
}
.title {
  padding-left: 4rem;
  padding-bottom: 1rem;
}
.desserts {
  grid-area: desserts;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.desserts-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}
.dessert-image {
  width: 280px;
  height: 180px;
  border-radius: 10px;
}
.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    .price {
      color: var(--red);
    }
  }
}
.item-name{
  color: var(--rose5);
}
.item-image {
  position: relative;
  /* z-index: -1; */
}
.add {
  background-color: var(--rose1);
  border: 1px solid var(--rose6);
  border-radius: 40px;
  padding: 10px 57px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 5%;
  top: 85%;
  cursor: pointer;
  width: 90%;
  height: 43px;
  align-items: center;
  &:hover{
    border:1px solid var(--red);
    color: var(--red);
  }
}
.fas {
  color: var(--red);
  padding: 0 10px;
}

.cart {
  grid-area: cart;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--rose1);
  height:min-content;
  border-radius: 10px;
  h3 {
    font-size: 30px;
    text-align: right;
    padding: 20px;
    color: var(--red);
  }
  button{
    width: 90%;
  }
  .item-number{
    color: var(--red);
    padding: 15px ;
  }
  .total-price{
    padding: 0 10px;
    color: var(--rose5);
    font-weight: bold;
  }
  .each-item{
    color: var(--rose5);
  }
  .fa-circle-xmark{
    padding: 15px 0;
    color: var(--rose5);
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
      transition: all 100ms;
    }
  }
  #message{
    color: var(--rose5);
    padding-bottom: 10px;
  }
}

.confirmation {
  background-color: var(--rose1);
  margin: auto;
  width: 500px;
  height: 580px;
  padding: 20px;
  transform: translateY(-140%);
  border-radius: 10px;
  display: none;

  .fa-regular {
    color: var(--green);
    padding-bottom: 10px;
  }

  .food-list {
    margin-top: 10px;
  }
  .food {
    background-color: var(--rose2);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid var(--rose3);
  }
  .food-wrap {
    display: flex;
  }
  .food-info {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    h4 {
      padding-bottom: 25px;
    }
  }
  .number {
    padding-right: 10px;
    color: var(--red);
  }
  .food-price {
    display: flex;
    align-items: center;
  }
  .food-img {
    width: 80px;
    height: 80px;
  }
  .total {
    display: flex;
    justify-content: space-between;
    background-color: var(--rose2);
    padding: 10px;
    align-items: center;
  }
  
}
.cart-items{
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.cart-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--rose4);
  padding: 10px;
}
.order-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4{
    color: var(--rose5);
  }
  h2{
    color: var(--rose6);
  }
}

.btn {
  width: 100%;
  padding: 13px 0;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  background-color: var(--red);
  color: var(--rose1);
  cursor: pointer;
  &:hover{
    opacity: 0.9;
  }
}

.font-size{
  font-size: 20px;
}
.red{
  color: var(--red);
}
.red-border{
  border: 1px solid var(--red);
}
